@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  max-width: 100%;
}
/* preloader */

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  background-color: #fff;
  font-size: 16px;
  min-height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}
.container {
  width: min(90%, 1120px);
  margin: 0 auto;
}

header {
  top: 0;
  width: 99%;
  margin: 0 auto;
  position: sticky;
  z-index: 100;
  height: 80px;
  /* background-color: rgb(33, 39, 65); */

  color: #fff;
}

.desktop-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  background-color: #363a46;
  width: 100%;
  margin: 0 auto;
  padding-left: 5%;
  padding-right: 5%;
}

.desktop-menu img {
  max-width: 150px;
}
.desktop-menu .menus-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  padding: 20px;
}

.menus-link li {
  list-style: none;
}
.menus-link li a {
  text-decoration: none;
  font-weight: 400;
  font-size: 12px;
  line-height: 25px;
  color: #fff;
}
.menus-link a.active {
  color: #ed563b;
}

.menus-link li a:hover {
  color: #ff4f1ae9;
}
.desktop-menu h1 {
  font-weight: 900;
  font-size: 2rem;
}
.desktop-menu h1 em {
  color: #ed553b;
  font-style: normal;
}

.btn a {
  font-size: 14px;
  color: #fff;
  background-color: #43ba7f;
  padding: 10px 20px !important;
  display: inline-block;
  border-radius: 5px;
  font-weight: 500;
  text-transform: capitalize;
  height: auto;
  line-height: 15px;
  letter-spacing: 0.5px;
  transition: all 0.3s;
}

ul li ul.drop-down li {
  display: block;
  border-bottom: 0.5px solid rgba(222, 222, 222, 0.658);
}

ul li ul.drop-down li a {
  color: #000000;
  font-size: 10px;
  padding: 20px;
}

.drop-down {
  color: #000000;
  height: 100px;
}

ul li ul.drop-down {
  background-color: #fff;
  border-radius: 10px;

  position: absolute;
  z-index: 999;
  display: none;
}

ul li:hover ul.drop-down {
  display: block;
}

.arrow {
  border: solid rgb(254, 254, 254);
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 2px;
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.Hero {
  background: url("https://templatemo.com/templates/templatemo_574_mexant/assets/images/slide-01.jpg")
    center/cover no-repeat;
  height: calc(100vh - 4.5rem);
  margin-bottom: 120px;
  margin: 0 auto;
  width: 99%;
}

.containers {
  display: flex;
  flex-direction: column;
  padding-top: 2%;
  margin: 0 auto;
  width: 99%;
  padding-left: 5%;
}
.containers h2 {
  display: inline;
  font-family: Poppins, sans-serif;
  font-weight: 700;
  font-size: 56px;
  letter-spacing: 1px;
  line-height: 70px;
  color: #fff;
  text-align: start;
  outline-color: rgb(255, 81, 26);
  margin-bottom: 20px;
}
.containers h2 em {
  color: #ed553b;
  font-style: normal;
}
.div-dec {
  width: 80px;
  height: 6px;
  border-radius: 3px;
  background-color: #fff;
  margin-bottom: 40px;
  opacity: 1;
  visibility: visible;
}
.containers p {
  color: #fff;
  margin-right: 60px;
  margin-bottom: 50px;
  opacity: 1;
  visibility: visible;
}
.buttons {
  display: flex;
  gap: 15px;
}
.green-button {
  font-size: 14px;
  color: #fff;
  background-color: #43ba7f;
  padding: 8px 20px;
  display: inline-block;
  border-radius: 5px;
  font-weight: 500;
  text-transform: capitalize;
}
.orange-button {
  font-size: 14px;
  color: #fff;
  background-color: #ff511a;
  padding: 8px 20px;
  display: inline-block;
  border-radius: 5px;
  font-weight: 500;
  text-transform: capitalize;
  letter-spacing: 0.5px;
  transition: all 0.3s;
}

/* Section two */

.box-container{
  margin-block: 6rem;
}

.boxs {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 20px;
  margin: 12px;
  padding: 20px;

}

.box1 {
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  display: flex;
  gap: 15px;
}
.box1 span {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.box1 .fas {
  color: rgb(67, 186, 127);
  font-size: 64px;
  font-style: normal;
  font-weight: 900;
  line-height: 64px;
  text-align: start;
}

.box1 p{
  font-size: 14px;
}

.contact-card .fa {
  color: rgb(67, 186, 127);
  font-size: 64px;
  font-style: normal;
  font-weight: 900;
  line-height: 64px;
  text-align: start;
}

/* SECTION 3 */
.poster {
  background: url("https://templatemo.com/templates/templatemo_574_mexant/assets/images/cta-bg.jpg")
    center/cover no-repeat;
  width: 100%;
  padding-top: 50px;
  margin-top: 300px;
  margin-bottom: 30px;
  height: 200px;
  margin: 0 auto;
  width: 99%;
}
.wrap {
  display: flex;
justify-content: space-between;
align-items: center;
  gap: 5rem;
  font-weight: 700;
  font-size: 30px;
  color: #fff;
}

.wrap h4 em {
  color: #42ba7f;
  font-style: normal;
}
.wrap h4 strong {
  color: #ff5119;
  font-style: normal;
}


/* SECTION 4 */

.about-us {
  width: 100%;
  height: 80vh;
  background: #fff;
  padding: 20px;

  text-align: center;
  margin: 0 auto;
  width: 99%;
  margin-bottom: 400px;
}

.about-us h2 {
  color: #ff5119;
  margin-bottom: 5px;
  font-size: 26px;
  font-weight: 700;
}

.about-us h1 {
  margin-bottom: 30px;
}

.tabs {
  display: flex;
  justify-content: left;
  align-items: left;
  margin: 0 auto;
  width: 99%;
}

.tab {
  padding: 20px 20px;
  margin: 0 5px;
  border: none;
  cursor: pointer;
  background-color: #fff;
  color: #333;
  border-radius: 3px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 150px;
}

.tab.active {
  color: #ff5119;
}

.projects-table {
  width: 99%;
  border-collapse: collapse;

  height: 350px;
}

.projects-table th,
.projects-table td {
  padding: 10px;
  border-bottom: 1px solid rgb(168, 168, 167);
  font-size: 0.9375rem;
  /* text-align: left; */
}

.projects-table th {
  background-color: #fff;
}

.projects-table a {
  color: #42ba7f;
  text-decoration: none;
  font-size: 0.9375rem;
}

.projects-table a:hover {
  text-decoration: none;
  color: #ed553b;
}

.info {
  text-align: left;
  margin-top: 0;
  width: 356px;
  height: 423px;
}

.info h1 {
  font-size: 22px;
  font-weight: 700;
  line-height: 20px;
  margin-bottom: 40px;
}
.info p {
  margin-bottom: 50px;
  font-size: 15px;
  line-height: 26px;
  color: #212741;
  font-weight: 400;
}

.info strong {
  color: rgb(0, 0, 0);
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 4rem;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.proj-section{
  display: grid;
  grid-column: 1 / span 2;
}

/* SECTION 5 */

.financial-plan {
  display: flex;
  align-items: center;
  gap: 20px;

  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  background: url("	https://templatemo.com/templates/templatemo_574_mexant/assets/images/calculator-bg.jpg");
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  margin-top: 20px;
  margin: 0 auto;
  width: 99%;
 padding: 50px;
}

.content {
  max-width: 50%;
}

h2 {
  color: #ff5119;
  margin-top: 30px;
  font-size: 1rem;
}

h1 {
  font-size: 30px;
  font-weight: 800;
}

form {
  width: 100%;
  height: 50vh;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
}

#financial-plan-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.name_email {
  display: flex;
  width: 100%;
  gap: 10px;
  padding: 0;
}

.subject_select {
  width: 100%;

  box-sizing: border-box !important;
}

input {
  width: 100%;
  padding: 15px;
  background-color: rgba(121, 134, 151, 0.7);
  border-radius: 5px;
  border: none;
}
.submit-btn {
  padding: 20px;
  margin: 30px;
  border: none;
  border-radius: 5px;
  width: 100%;
}

select {
  background-color: rgba(121, 134, 151, 0.7);
  color: #fff;
  width: 100%;
  padding: 15px;
}

.submit-btn {
  background: #ff5119;
  font-size: 14px;
  color: #fff;
  width: 150px;
  padding: 14px;
  display: inline-block;
  border-radius: 5px;
  font-weight: 500;
  text-transform: capitalize;
  letter-spacing: 0.5px;
  border: none;
  transition: all 0.3s;
}
.reason {
  margin-top: 20px;
  color: white;
  padding: 20px;
  margin: 30px;
  border: none;
  border-radius: 5px;
  width: 100%;
}

.reason_label {
  display: flex;
  flex-direction: column;
}

.financial-plan img {
  max-width: 100%;
}

/* section 6 */

.TESTIMONIALS {
  width: 100%;
  height: 100vh;
  text-align: center;
  margin: 0 auto;
  width: 99%;
  margin-bottom: 200px;
}

.qoation_and_picture {
  display: flex;
  justify-content: space-between;
}

.TESTIMONIALS h2 {
  padding-top: 150px;
}

.TESTIMONIALS h1 {
  font-size: 50px;
}

.quatationmark {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 50%;
  text-align: left;
  gap: 30px;
  justify-content: center;
  align-items: left;
  
}

.qmark {
  background-color: #42ba7f;
  width: 8%;
  height: 70px;
  font-size: 45px;
  color: #fff;
  text-align: center;
  border-radius: 8px;
  margin-left: 40px;
  margin-top: 40px;
}

.test-section {
  display: flex;
  flex-direction: column;
 
  position: relative;
  top: 20px;
  bottom: 20px;
  margin: 0 auto;
  height: 345px;
  width: 70%;
  display: flex;

  border-radius: 25px;
  box-sizing: border-box !important;
  box-shadow: 2px 2px 8px rgba(188, 188, 188, 0.9);
}

.text-title_box {
  position: absolute;
 top: 150px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: left;
  align-items: self-start;
  margin-left: 40px;
 
}

.text-box p {
  font-size: 14px;
  text-align: left;
  padding-right: 50%;
}

.test-lines {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.quatationmark img {
  max-width: 100%;
  max-height: 100px;
  border-radius: 5px;
  color: white;
}

.last-sec {
  width: 100%;
  height: 250px;
  background-color: #212741;

  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 99%;
}

.boxes-group1 {
  display: flex;
}
.boxes-group2 {
  display: flex;
}

.image-boxes {
  display: flex;

  align-items: center;
  justify-content: center;
  height: 250px;
  width: 100%;
  gap: 40px;
}

/* Contact us style */

.map {
  position: relative;
  margin-top: 100px;
  margin-bottom: 200px;
}

.contact-info {
  position: absolute;
  top: 400px;

  display: flex;
  gap: 50px;
  left: 5%;
  justify-content: center;
}
.contact-card {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  width: 300px;
  height: 200px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.contact-card img {
  width: 40px;
  height: 40px;
  margin-bottom: 10px;
}

.contact-card h3 {
  margin: 10px 0;
  font-size: 18px;
}

.contact-card p {
  margin: 0;
  color: #42ba7f;
  font-size: 16px;
}

.contact-form {
  height: 100vh;
}

.feel-free {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.contact-form p {
  color: #e64a19;
  font-size: medium;
  font-weight: 600;
}
.contact-form h4 {
  font-size: 40px;
}
.form-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 60%;
  /* max-width: 800px; */
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-group {
  display: flex;
  justify-content: center;
  gap: 50px;
  width: 100%;
}

.form-group1 {
  display: flex;
  margin-bottom: 20px;
}

.form-group2 {
  display: flex;
  margin-bottom: 20px;
}

.form-group3 {
  display: flex;
  margin-bottom: 20px;
}
.form-group input {
  width: 100%;
  padding: 15px;
  border: none;
  border-radius: 5px;
  background-color: rgb(247, 247, 247);
}
textarea {
  width: 100%;
  height: 130px;
  border: none;
  border-radius: 5px;
  background-color: #f9f9f9;
}

button {
  padding: 10px 20px;
  border: none;
  width: 200px;
  height: 50px;
  border-radius: 5px;
  background-color: #ff5722;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #e64a19;
}

.mobile-menu {
  display: none;
}

.hamburger i {
  display: none;
}

/* ABOUT PAGE */

.about-hero {
  height: 60vh;
}

.about-title {
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.about-title h1 {
  font-size: 3.5rem;
  font-weight: 43.75rem;
}
.about-title .div-dec {
  width: 80px;
  height: 6px;
  border-radius: 3px;
  background-color: #fff;
  margin: 20px auto 0 auto;
}
.poster-about {
  margin-block: 5rem;
}
/* Section one about */
.sectio-one {
  width: 100%;
  margin: 0 auto;
  height: 100vh;
  margin-bottom: 290px;
}
.picture-sec2 {
  background: url("https://templatemo.com/templates/templatemo_574_mexant/assets/images/about-left-image.jpg");
  width: 34.125rem;
  height: 32.625rem;
  border-radius: 10px;
}
.cont-n {
  width: 34.125rem;
  height: 32.625rem;
  border-radius: 10px;
  border-radius: 5px;
  padding: 50px 40px;
  background-color: #fff;
  margin-left: 30px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}
.cont-paragraphs {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.cont-paragraphs p,
.span1 {
  display: none;
}
.cont-n h2 {
  position: sticky;
  color: #000000;
}
.sec2 {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  justify-content: center;
  margin: 5rem 0;
}

.btn-about {
  display: flex;
  gap: 15px;
}

.btn-about .g-btn {
  height: 50px;
}
.btn-about .o-btn {
  height: 50px;
}

.poster-about {
  margin-block: 5rem;
}
.two-grid-section {
  width: 80%;
  height: 520px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.grid-section1 {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: self-start;
  padding: 20px;
  width: 100%;
}

.grid-section2 {
  width: 100%;
}
.grid-section1 h4 {
  padding-right: 120px;
}
.grid-section1 p {
  padding-right: 10px;
  font-size: 14px;
}

.grid-boxes {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.grid-box {
  width: 100%;
  /* height: 200px; */
  position: relative;
  background-color: #fff;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  padding: 0px 20px;
  border-radius: 5px;
  height: 200px;
}

.grid-box em {
  color: #42ba7f;
  font-size: 2.47rem;
  font-weight: 600;
  font-style: normal;
  position: relative;
  right: 0px;
  top: 0px;
  float: right;
  margin-top: 0px;
  padding-top: 0px;
  top: 0px;
}

.grid-box h4 {
  padding-top: 30px;
  margin-bottom: 20px;
}

.last-sec {
  width: 100%;
  height: 250px;
  background-color: #212741;

  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 99%;
}

.boxes-group1 {
  display: flex;
}
.boxes-group2 {
  display: flex;
}

.image-boxes {
  display: flex;

  align-items: center;
  justify-content: center;
  height: 250px;
  width: 100%;
  gap: 40px;
}
/* SERVICES PAGE */
.main_service {
  display: flex;
  flex-direction: row;
  gap: 3rem;
  align-items: center;
  justify-content: center;
  /* margin-block: -2rem; */
  /* padding-block: -2rem; */
}
.pic_1 img {
  width: 33.1875rem;
  height: 19.666875rem;
  border-radius: 0.625rem;
}
.t_p-1 {
  width: 33.1875rem;
  height: 19.666875rem;
}
.cont_1 .fa-archive {
  font-size: 64px;
  color: #43ba7f;
  background-color: #ecf8f2;
  width: 120px;
  height: 120px;
  text-align: center;
  display: inline-block;
  line-height: 120px;
  border-radius: 5px;
  margin-top: 8rem;
}
.cont_1 {
  display: flex;
  flex-direction: column;
  /* gap: 0.5rem; */
  align-items: self-start;
  justify-content: center;
}
.t_p-1 h4 {
  /* margin-bottom: 2rem; */
  font-size: 2.25rem;
  font-weight: 700;
  color: #212741;
  margin-top: 2rem;
  margin-bottom: 1.875rem;
}

.t_p-1 p {
  font-size: 0.9375rem;
  line-height: 1.625rem;
  color: #212741;
}
.main_service2 {
  margin-top: -5rem;
}

.section_investment {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-block: 6rem;
  align-items: center;
  justify-content: center;
}
.title_investment {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.title_investment h6 {
  font-size: 1rem;
  text-transform: uppercase;
  color: #ff511a;
  font-weight: 700;
}

.title_investment h4 {
  margin-top: 0.625rem;
  line-height: 40px;
  font-size: 36px;
  font-weight: 700;
  text-transform: capitalize;
  color: #212741;
}
.title_2 {
  display: flex;
  flex-direction: row;
  gap: 1;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
}
.invest-card {
  padding: 15px 30px;
  display: inline-block;
  text-align: center;
  border-radius: 5px !important;
  margin-right: 30px;
  font-size: 18px;
  color: #212741;
  background-color: #fff;
  cursor: pointer;
  vertical-align: middle;
  font-weight: 600;
  transition: 1s all cubic-bezier(0.075, 0.82, 0.165, 1);
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}
.invest-card span:hover {
  color: #ed563b;
}
.investment_content {
  display: flex;
  flex-direction: row;
  align-items: self-start;
  gap: 3rem;
  width: 57.875rem;
  height: 29.40625rem;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  margin-top: 2rem;
  padding-block: 2.5rem;
}
.conten-image img {
  width: 25rem;
  height: 23.75rem;
}
.heard-conten {
  display: flex;
  flex-direction: column;
  width: 25rem;
  height: 23.75rem;
}
.heard-conten h4 {
  font-size: 1.5rem;
  color: #212741;
  margin-bottom: 1.5625rem;
  font-weight: 700;
  line-height: 2.5rem;
  margin-right: 7.5rem;
}
.heard-conte p {
  font-size: 0.9375rem;
  line-height: 1.626rem;
  color: #212741;
}
.heard-conten span {
  display: block;
  font-size: 0.9375rem;
  font-weight: 500;
  color: #212741;
  font-style: italic;
  margin-bottom: 0.75rem;
  margin-top: 0.75rem;
}
.last-sec {
  width: 100%;
  height: 250px;
  background-color: #212741;

  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 99%;
}

.boxes-group1 {
  display: flex;
}
.boxes-group2 {
  display: flex;
}

.image-boxes {
  display: flex;

  align-items: center;
  justify-content: center;
  height: 250px;
  width: 100%;
  gap: 40px;
}
footer {
  width: 99%;
  height: 100px;
  background-color: #101630;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  /* width: 99%; */
}

/* For mobile view */
@media only screen and (max-width: 640px) {
  .desktop-menu {
    display: none;
  }
  .header {
    top: 0;
  }
  .mobile-menu {
   
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 1;
    padding: 1.25rem;
    gap: 3.125rem;
    font-size: 1rem;
    height: 5rem;
    top: 0;
    width: 100%;
    margin: 0 auto;
    /* margin-top: 10px; */
    background-color: #212741;
    transform: translateX(0%);
  }

  .menu-link[data-visible="false"] {
    display: none;
}

.hamburger i[data-visible="true"]{
    display: block;
}

.hamburger i[data-visible="false"]{
    display: none;
}

  .logo-section {
    /*    
      width: 99%;
      height: 50px; */

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .hamburger {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    color: white;
    width: 50px;
    height: 50px;
    right: 5%;
    border-radius: 50%;
    font-size: 2rem;
    top: 15px;
    z-index: 10;
  }

  .logo {
    font-size: 2rem;
    font-weight: 800;
    max-width: 100%;
    max-height: 100%;
  }

  .logo img {
    max-width: 100%;
    max-height: 100%;
  }

  .menu-link {
    position: relative;
    top: -30px;
    margin: 0px;
    width: 100%;
    height: 200vh;
    display: flex;
    flex-direction: column;
    gap: 0.625rem;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
  }

  .menu ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* gap: 1rem; */
  }

  .menu ul li {
    list-style-type: none;
    padding: 0.5375rem 8.5rem;

    font-weight: bold;
    width: 100%;
    border: 1px solid rgb(231, 231, 231);
    background-color: #fff;
    text-align: center;
  }

  .menu ul li:hover{
    background-color: #f4f4f4;
    color: #e64a19 !important;
  }
  .menu li a:hover{
    color: #e64a19;
   
  }
  .menu ul li a {
    text-decoration: none;
    color: rgb(90, 90, 90);
   font-weight: 400;
    font-size: 12px;
    text-align: center;
  }
  .menu ul li:last-child{
    display: none;
  }
  .btn a:last-child {
    display: none;
  }
  ul li:hover ul.drop-down {
    display: none;
  }

  .Hero {
    background: url("https://templatemo.com/templates/templatemo_574_mexant/assets/images/slide-01.jpg")
      center/cover no-repeat;
    height: calc(100vh - 4.5rem);
    margin-bottom: 7.5rem;
    margin: 0px auto;
    margin-top: 0px;
    width: 99%;
  }

  .containers {
    display: flex;
    padding-top: 0px;
    width: 99%;
    margin: 0 auto;
  }
  .containers h2 {
    display: inline;
    font-family: Poppins, sans-serif;
    font-weight: 800;
    font-size: 3rem;
    letter-spacing: 1px;
    line-height: 3.75rem;
    color: #fff;
    text-align: center;
    outline-color: rgb(255, 81, 26);
    margin-bottom: 20px;
    padding-right: 12%;
  }
  .containers h2 em {
    color: #ed553b;
    font-style: normal;
  }

  .div-dec {
    width: 5rem;
    height: 6px;
    border-radius: 3px;
    background-color: #fff;
    margin-bottom: 40px;
    opacity: 1;
    visibility: visible;
    margin-left: 35%;
  }
  .containers p {
    /* color: #fff;
    margin-right: 60px;
    margin-bottom: 50px;
    font-size: 1px;
    opacity: 1;
    visibility: visible; */
    display: none;
  }
  .buttons {
    display: flex;
    gap: 15px;
    box-sizing: border-box !important;

    text-align: center;
    align-items: center;
    justify-content: center;
  }

  .green-button {
    font-size: 14px;
    color: #fff;
    background-color: #43ba7f;
    padding: 12px 30px;
    display: inline-block;
    border-radius: 5px;
    font-weight: 500;
    text-transform: capitalize;
  }
  .orange-button {
    font-size: 14px;
    color: #fff;
    background-color: #ff511a;
    padding: 12px 30px;
    display: inline-block;
    border-radius: 5px;
    font-weight: 500;
    text-transform: capitalize;
    letter-spacing: 0.5px;
    transition: all 0.3s;
  }

  /*  section two */

  .boxs {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 10px;
  }

  .box1 {
    border-radius: 5px;
    padding: 40px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);

    display: flex;

    gap: 15px;
  }
  .box1 span {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .box1 .fas {
    color: rgb(67, 186, 127);
    font-size: 64px;
    font-style: normal;
    font-weight: 900;
    line-height: 64px;
    text-align: start;
  }

  .contact-card .fa {
    color: rgb(67, 186, 127);
    font-size: 64px;
    font-style: normal;
    font-weight: 900;
    line-height: 64px;
    text-align: start;
  }

  /* SECTION 3 */
  .poster {
    background: url("https://templatemo.com/templates/templatemo_574_mexant/assets/images/cta-bg.jpg")
      center/cover no-repeat;
    width: 100%;

    padding-top: 50px;
    margin-top: 300px;
    height: 50vh;
    margin: 0 auto;
    width: 99%;
  }
  .wrap {
    display: flex;
    flex-direction: column;
    font-weight: 700;
    font-size: 30px;
    color: #fff;
    text-align: center;
    align-items: center;
    justify-content: center;
  }

  .wrap h4 em {
    color: #42ba7f;
    font-style: normal;
  }
  .wrap h4 strong {
    color: #ff5119;
    font-style: normal;
  }
  /* .btn {
    max-width: 100%;
    max-height: 60px;
    display: flex;
    gap: 15px;
    box-sizing: border-box !important;
  } */
/* 
  .green-button {
    color: #fff;
    background-color: #43ba7f;
    padding: 8px 20px;
    text-align: center;
    border-radius: 5px;
    text-transform: capitalize;
  }
  .orange-button {
    font-size: 14px;
    color: #fff;
    background-color: #ff511a;
    padding: 8px 20px;
    border-radius: 5px;
    font-weight: 500;
    text-transform: capitalize;
    letter-spacing: 0.5px;
    transition: all 0.3s;
  } */

  /* SECTION 4 */


  .about-us {
    margin-top: 50px;
    height: 80vh;
    background: #fff;
    padding: 20px;

    text-align: center;
    margin: 0 auto;
    width: 99%;
    margin-bottom: 56.25rem;
  }

  .about-us h2 {
    color: #ff5119;
    margin-bottom: 5px;
    font-size: 26px;
    font-weight: 700;
  }

  .about-us h1 {
    margin-bottom: 30px;
  }

  .tabs {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 99%;
    margin-bottom: 50px;
  }

  .tab {
    padding: 10px 20px;
    margin: 0 5px;
    border: none;
    cursor: pointer;
    background-color: #fff;
    color: #333;
    border-radius: 3px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 150px;
  }

  .tab.active {
    color: #ff5119;
  }

  .projects-table {
    width: 100%;
    border-collapse: collapse;

    height: 350px;
    margin-bottom: 20px;
  }

  .projects-table th,
  .projects-table td {
    padding: 10px;
    border-bottom: 1px solid rgb(168, 168, 167);
    /* text-align: left; */
  }

  .projects-table th {
    background-color: #fff;
  }

  .projects-table a {
    color: #42ba7f;
    text-decoration: none;
  }

  .projects-table a:hover {
    text-decoration: none;
    color: #ed553b;
  }

  .info {
    text-align: left;
    margin-top: 30;
    width: 356px;
    height: 423px;
  }

  .info h1 {
    font-size: 22px;
    font-weight: 700;
    line-height: 50px;
    margin-bottom: 40px;
  }
  .info p {
    margin-bottom: 50px;
    font-size: 15px;
    line-height: 26px;
    color: #212741;
    font-weight: 400;
  }

  .info strong {
    color: rgb(0, 0, 0);
  }

  .grid {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  /* SECTION 5 */

  .financial-plan {
    display: flex;
    align-items: center;
    gap: 20px;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    background: url("	https://templatemo.com/templates/templatemo_574_mexant/assets/images/calculator-bg.jpg");
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    margin-top: 20px;
    height: 70vh;
    margin: 0 auto;
    width: 99%;
  }

  .content {
    max-width: 100%;
    height: 60vh;
  }

  h2 {
    color: #ff5119;
    margin-top: 30px;
    font-size: 1rem;
  }

  h1 {
    font-size: 30px;
    font-weight: 800;
  }

  form {
    width: 100%;
    height: 50vh;
    padding-top: 10px;
  }

  #financial-plan-form {
    width: 99%;
    height: 65vh;
  }

  .name_email {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
    padding: 0;
  }

  .subject_select {
    width: 100%;

    box-sizing: border-box !important;
  }

  input {
    width: 100%;
    padding: 15px;
    background-color: rgba(121, 134, 151, 0.7);
    border-radius: 5px;
    border: none;
  }
  .submit-btn {
    padding: 20px;
    margin: 30px;
    border: none;
    border-radius: 5px;
    width: 100%;
  }

  select {
    background-color: rgba(121, 134, 151, 0.7);
    color: #fff;
    width: 100%;
    padding: 15px;
  }

  .submit-btn {
    background: #ff5119;
    font-size: 14px;
    color: #fff;
    width: 150px;
    padding: 14px;
    display: inline-block;
    border-radius: 5px;
    font-weight: 500;
    text-transform: capitalize;
    letter-spacing: 0.5px;
    border: none;
    transition: all 0.3s;
  }
  .reason {
    margin-top: 20px;
    color: white;
    padding: 20px;
    margin: 30px;
    border: none;
    border-radius: 5px;
    width: 100%;
  }

  .reason_label {
    display: flex;
    flex-direction: column;
  }

  .financial-plan img {
    display: none;
    margin: 0;
    padding: 0;
  }

  .TESTIMONIALS {
    text-align: center;
    margin: 0 auto;
    width: 80%;
    height: 80vh;
   
  }

  .TESTIMONIALS h2 {
    padding-top: 0px;
  }

  .TESTIMONIALS h1 {
    font-size: 3rem;
  }

  .quatationmark {
    display: flex;
    margin: 0 auto;
    width: 100%;
    text-align: left;
    gap: 30px;
    justify-content: center;
    align-items: left;
  }

  .qmark {
    width: 15%;
    height: 50%;
    background-color: #42ba7f;
    font-size: 2rem;
    color: #fff;
    text-align: center;
    border-radius: 5px;
  }

  .test-section {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    height: 40vh;
    padding: 20px;
    width: 100%;
    border-radius: 25px;
    box-sizing: border-box !important;
    box-shadow: 2px 2px 8px rgba(188, 188, 188, 0.9);
    gap: 50px;
  }

  .test-lines {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 30px;
  }

  .qoation_and_picture {
    display: flex;
    gap: 30px;
    justify-content: space-between;
    align-items: center;
  }

  .text-title_box {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .text-box p {
    font-size: 14px;
    padding-right: 0px;
    margin-right: 0;
    
    text-align: left;
  }

  .picture {
    max-width: 100px;
    max-height: 100px;
    border-radius: 5px;
    color: white;
    text-align: center;
  }

  .last-sec {
    width: 99%;
    height: 250px;
    background-color: #212741;

    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }

  .image-boxes {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 250px;
    width: 100%;
    gap: 20px;
  }

  .boxes-group1 {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
  }
  .boxes-group2 {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
  }

  /* Contact us style */

  .map {
    width: 80%;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 800px;
  }

  .contact-info {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 50px;
    left: 5%;
    justify-content: center;
    margin-top: 80px;
    margin-bottom: 300px;
  }
  .contact-card {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    height: 200px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
  }

  .contact-card img {
    width: 40px;
    height: 40px;
    margin-bottom: 10px;
  }

  .contact-card h3 {
    margin: 10px 0;
    font-size: 18px;
  }

  .contact-card p {
    margin: 0;
    color: #42ba7f;
    font-size: 16px;
  }

  .contact-form {
    margin-top: 500px;
    height: 100vh;
    margin-bottom: 150px;
  }

  .feel-free {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
  }
  /* contact us */
  .contact-form p {
    color: #e64a19;
    font-size: medium;
    font-weight: 600;
  }
  .contact-form h4 {
    font-size: 30px;
  }
  .form-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 60%;
    /* max-width: 800px; */
  }

  .group-form {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  .form-group1 input {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    gap: 20px;
  }

  .form-group2 input {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    gap: 20px;
  }

  .form-group3 input {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    gap: 20px;
  }

  .form-group {
    display: block;
    width: 100%;
  }

  .form-group input {
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 5px;
    background-color: rgb(247, 247, 247);
  }
  textarea {
    width: 100%;
    height: 130px;
    border: none;
    border-radius: 5px;
    background-color: #f9f9f9;
  }

  button {
    margin-top: 50px;
    padding: 10px 20px;
    border: none;
    width: 200px;
    height: 50px;
    border-radius: 5px;
    background-color: #ff5722;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  button:hover {
    background-color: #e64a19;
  }

  /* SERVICE_PAGE RESPONSIVE */

  .main_service {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }
  .pic_1 {
    width: 80%;
    margin: 0 auto;
  }

  .pic_1 img {
    width: 100%;
    margin: 0 auto;
    height: 19.666875rem;
    border-radius: 0.625rem;
  }

  /* title program 1 */
  .t_p-1 {
    width: 80%;
    margin: 0 auto;
    height: 19.666875rem;
  }
  .cont_1 .fa-archive {
    width: 80%;
    margin: 0 auto;
    font-size: 64px;
    color: #43ba7f;
    background-color: #ecf8f2;
    width: 120px;
    height: 120px;
    text-align: center;
    display: inline-block;
    line-height: 120px;
    border-radius: 5px;
    margin-top: 8rem;
  }
  .cont_1 {
    display: flex;
    flex-direction: column;
    /* gap: 0.5rem; */
    align-items: center;
    justify-content: center;
  }
  .t_p-1 h4 {
    /* margin-bottom: 2rem; */
    font-size: 2.25rem;
    font-weight: 700;
    color: #212741;
    margin-top: 2rem;
    margin-bottom: 1.875rem;
  }

  .t_p-1 p {
    font-size: 0.9375rem;
    line-height: 1.625rem;
    color: #212741;
  }
  .main_service2 {
    margin-top: -5rem;
    margin: 0 auto;
  }

  .section_investment {
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-block: 6rem;
    align-items: center;
    justify-content: center;
  }
  .title_investment {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }
  .title_investment h6 {
    font-size: 1rem;
    text-transform: uppercase;
    color: #ff511a;
    font-weight: 700;
  }

  .title_investment h4 {
    margin-top: 0.625rem;
    line-height: 40px;
    font-size: 2rem;
    font-weight: 700;
    text-transform: capitalize;
    color: #212741;
    text-align: center;
  }
  .title_2 {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
  }
  .invest-card {
    padding: 15px 30px;
    display: inline-block;
    text-align: center;
    border-radius: 5px !important;
    margin-right: 30px;
    font-size: 18px;
    color: #212741;
    background-color: #fff;
    cursor: pointer;
    vertical-align: middle;
    font-weight: 600;
    transition: 1s all cubic-bezier(0.075, 0.82, 0.165, 1);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  }
  .invest-card span:hover {
    color: #ed563b;
  }
  .investment_content {
    position: relative;
    width: 90%;
    height: 165vh;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: self-start;
    gap: 3rem;

    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);

    margin-bottom: 10px;
  }

  .conten-image {
    /* position: absolute; */
    top: 0;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    border-radius: 8px;
  }
  .conten-image img {
    border-radius: 8px;
    width: 100%;
    position: absolute;
    top: 0;
  }
  .heard-conten {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
    height: 23.75rem;
  }
  .heard-conten h4 {
    font-size: 1.5rem;
    color: #212741;
    margin-bottom: 1.5625rem;
    font-weight: 700;
    line-height: 2.5rem;
    margin-right: 7.5rem;
  }
  .heard-conte p {
    font-size: 0.9375rem;
    line-height: 1.626rem;
    color: #212741;
  }
  .heard-conten span {
    display: block;
    font-size: 0.9375rem;
    font-weight: 500;
    color: #212741;
    font-style: italic;
    margin-bottom: 0.75rem;
    margin-top: 0.75rem;
  }
  /* about page sectio-one */

  .about-hero {
    height: 60vh;
  }

  .sectio-one {
    width: 99%;
    margin: 0 auto;
    height: 118vh;
    margin-bottom: 200px;
  }

  .sec2 {
    display: flex;
    flex-direction: column;
  
  }
  .picture-sec2 {
    background: url("https://templatemo.com/templates/templatemo_574_mexant/assets/images/about-left-image.jpg");
    width: 80%;
    margin: 0 auto;
    height: 32.625rem;
    border-radius: 10px;
  }
  .cont-n {
    width: 80%;
    margin: 0 auto;
    height: 100%;
    border-radius: 10px;
    border-radius: 5px;
    padding: 50px 40px;
    background-color: #fff;

    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    
  }
  .cont-paragraphs {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  .cont-paragraphs p,
  .span1 {
    display: none;
  }
  .cont-n h2 {
    position: sticky;
    color: #000000;
  }

  .sec2 {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    margin: 5rem 0;
  }


  .poster-about{
    height: 50vh;
  }
  .two-grid-section {
    width: 80%;
    height: 520px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 950px;
  }

  .two-grid-section {
    width: 80%;
    height: 520px;
    display: flex;
    flex-direction: column;
  }

  .grid-section1 {
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: self-start;
    padding: 20px;
    width: 100%;
  }

  .grid-section2 {
    width: 100%;
  }
  .grid-section1 h4 {
    padding-right: 120px;
  }
  .grid-section1 p {
    padding-right: 10px;
    font-size: 14px;
  }

  .grid-boxes {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .grid-box {
    margin-top: 50px;
    width: 100%;
    position: relative;
    background-color: #fff;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    padding: 0px 20px;
    border-radius: 5px;
    height: 150px;
  }

  .grid-box em {
    color: #42ba7f;
    font-size: 2.47rem;
    font-weight: 600;
    font-style: normal;
    position: relative;
    right: 0px;
    top: 0px;
    float: right;
    margin-top: 0px;
    padding-top: 0px;
    top: 0px;
  }

  .grid-box h4 {
    padding-top: 30px;
    margin-bottom: 20px;
  }
}

@media only screen and (min-width: 641px) and (max-width: 1024px) {
  .desktop-menu {
    display: none;
  }
  .header {
    top: 0;
  }
  .mobile-menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 1;
    padding: 1.25rem;
    gap: 3.125rem;
    font-size: 1rem;
    height: 5rem;
    top: 0;
    width: 100%;
    margin: 0 auto;
    /* margin-top: 10px; */
    background-color: #212741;
    
    transform: translateY(0%);
    transition: 1s ease-out;
  }

  .menu-link[data-visible="false"] {
    display: none;
   
}

.hamburger i[data-visible="true"]{
    display: block;
}

.hamburger i[data-visible="false"]{
  display: none;
}

  .logo-section {
    /*    
    width: 99%;
    height: 50px; */

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .hamburger {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    color: white;
    width: 50px;
    height: 50px;
    right: 5%;
    border-radius: 50%;
    font-size: 2rem;
    top: 15px;
    z-index: 10;
  }

  .logo {
    font-size: 2rem;
    font-weight: 800;
    max-width: 100%;
    max-height: 100%;
  }

  .logo img {
    max-width: 100%;
    max-height: 100%;
  }

  .menu-link {
    position: relative;
    top: -30px;
    margin: 0px;
    /* padding-top: 30px; */
    width: 82%;
    margin: 0 auto;
    height: 200vh;

    display: flex;
    flex-direction: column;
    gap: 0.625rem;
    align-items: center;
    justify-content: center;

    background-color: #ffffff;
    /* padding-bottom: 1.875rem; */
  }
  .menu ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* gap: 1rem; */
  }

  .menu ul li {
    list-style-type: none;
    padding: 0.5375rem 15.5rem;

    font-weight: bold;
    width: 100%;
    border: 1px solid rgb(231, 231, 231);
    background-color: #fff;
    text-align: center;
  }

  .menu ul li:hover{
    background-color: #f4f4f4;
    color: #e64a19 !important;
  }
  .menu li a:hover{
    color: #e64a19;
   
  }

  .menu ul li a {
    text-decoration: none;
    color: rgb(90, 90, 90);
   font-weight: 400;
    font-size: 14px;
    text-align: center;
  }


  .menu ul li:last-child{
    display: none;
  }
  .btn a:last-child {
    display: none;
  }
  ul li:hover ul.drop-down {
    display: none;
  }








  /* home page */

  .Hero {
    background: url("https://templatemo.com/templates/templatemo_574_mexant/assets/images/slide-01.jpg")
      center/cover no-repeat;
    height: 50vh;
    margin: 0px auto;
    margin-top: 0px;
    width: 99%;
  }

  .containers {
    display: flex;
    padding-top: 0px;
    width: 99%;
    margin: 0 auto;
  }
  .containers h2 {
    display: inline;
    font-family: Poppins, sans-serif;
    font-weight: 800;
    font-size: 3rem;
    letter-spacing: 1px;
    line-height: 3.75rem;
    color: #fff;
    text-align: center;
    outline-color: rgb(255, 81, 26);
    margin-bottom: 20px;
    padding-right: 12%;
  }
  .containers h2 em {
    color: #ed553b;
    font-style: normal;
  }

  .div-dec {
    width: 5rem;
    height: 6px;
    border-radius: 3px;
    background-color: #fff;
    margin-bottom: 40px;
    opacity: 1;
    visibility: visible;
    margin-left: 35%;
  }
  .containers p {
    display: none;
  }
  .buttons {
    display: flex;
    gap: 15px;
    box-sizing: border-box !important;

    text-align: center;
    align-items: center;
    justify-content: center;
  }

  .green-button {
    font-size: 14px;
    color: #fff;
    background-color: #43ba7f;
    padding: 12px 30px;
    display: inline-block;
    border-radius: 5px;
    font-weight: 500;
    text-transform: capitalize;
  }
  .orange-button {
    font-size: 14px;
    color: #fff;
    background-color: #ff511a;
    padding: 12px 30px;
    display: inline-block;
    border-radius: 5px;
    font-weight: 500;
    text-transform: capitalize;
    letter-spacing: 0.5px;
    transition: all 0.3s;
  }

  /* tablet secion 2 */

  .boxs {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    /* flex-direction: column; */
    gap: 20px;
    margin: 10px;
  }

  .box1 {
    border-radius: 5px;
    padding: 40px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);

    display: flex;

    gap: 15px;
  }
  .box1 span {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .box1 .fas {
    color: rgb(67, 186, 127);
    font-size: 64px;
    font-style: normal;
    font-weight: 900;
    line-height: 64px;
    text-align: start;
  }

  .contact-card .fa {
    color: rgb(67, 186, 127);
    font-size: 64px;
    font-style: normal;
    font-weight: 900;
    line-height: 64px;
    text-align: start;
  }

  /* SECTION 3 */
  .poster {
    background: url("https://templatemo.com/templates/templatemo_574_mexant/assets/images/cta-bg.jpg")
      center/cover no-repeat;
    width: 100%;
    padding-top: 50px;
    margin-top: 300px;
    margin-bottom: 30px;
    height: 280px;
    margin: 0 auto;
    width: 99%;
  }
  .wrap {
    display: flex;
    flex-direction: column;
    font-weight: 700;
    font-size: 30px;
    color: #fff;
    text-align: center;
    align-items: center;
    justify-content: center;
  }

  .wrap h4 em {
    color: #42ba7f;
    font-style: normal;
  }
  .wrap h4 strong {
    color: #ff5119;
    font-style: normal;
  }
  .btn {
    max-width: 100%;
    max-height: 60px;
    display: flex;
    gap: 15px;
    box-sizing: border-box !important;
  }

  .green-button {
    color: #fff;
    background-color: #43ba7f;
    padding: 8px 20px;
    text-align: center;
    border-radius: 5px;
    text-transform: capitalize;
  }
  .orange-button {
    font-size: 14px;
    color: #fff;
    background-color: #ff511a;
    padding: 8px 20px;
    border-radius: 5px;
    font-weight: 500;
    text-transform: capitalize;
    letter-spacing: 0.5px;
    transition: all 0.3s;
  }

  /* SECTION 4 */

  .about-us {
    margin-top: 50px;
    height: 90vh;
    background: #fff;
    padding: 20px;

    text-align: center;
    margin: 0 auto;
    width: 99%;
    margin-bottom: 15rem;
  }

  .about-us h2 {
    color: #ff5119;
    margin-bottom: 5px;
    font-size: 26px;
    font-weight: 700;
  }

  .about-us h1 {
    margin-bottom: 30px;
  }

  .tabs {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 99%;
    margin-bottom: 50px;
  }

  .tab {
    padding: 10px 20px;
    margin: 0 5px;
    border: none;
    cursor: pointer;
    background-color: #fff;
    color: #333;
    border-radius: 3px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 150px;
  }

  .tab.active {
    color: #ff5119;
  }

  .projects-table {
    width: 100%;
    border-collapse: collapse;

    height: 350px;
    margin-bottom: 20px;
  }

  .projects-table th,
  .projects-table td {
    padding: 10px;
    border-bottom: 1px solid rgb(168, 168, 167);
    /* text-align: left; */
  }

  .projects-table th {
    background-color: #fff;
  }

  .projects-table a {
    color: #42ba7f;
    text-decoration: none;
  }

  .projects-table a:hover {
    text-decoration: none;
    color: #ed553b;
  }

  .info {
    text-align: left;
    margin-top: 30;
    width: 356px;
    height: 423px;
  }

  .info h1 {
    font-size: 22px;
    font-weight: 700;
    line-height: 50px;
    margin-bottom: 40px;
  }
  .info p {
    margin-bottom: 50px;
    font-size: 15px;
    line-height: 26px;
    color: #212741;
    font-weight: 400;
  }

  .info strong {
    color: rgb(0, 0, 0);
  }

  .grid {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  /* SECTION 5 */

  .financial-plan {
    display: flex;
    align-items: center;
    gap: 20px;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    background: url("	https://templatemo.com/templates/templatemo_574_mexant/assets/images/calculator-bg.jpg");
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    margin-top: 20px;
    margin: 0 auto;
    width: 99%;
    height: 50vh;
   
  }

  .content {
    max-width: 100%;
    height: 35vh;
  }

  h2 {
    color: #ff5119;
    margin-top: 30px;
    font-size: 1rem;
  }

  h1 {
    font-size: 30px;
    font-weight: 800;
  }

  form {
    width: 100%;
    height: 50vh;
    padding-top: 10px;
  }

  #financial-plan-form {
    width: 99%;
    height: 65vh;
  }

  .name_email {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 10px;
    padding: 0;
  }

  .subject_select {
    width: 100%;

    box-sizing: border-box !important;
  }

  input {
    width: 100%;
    padding: 15px;
    background-color: rgba(121, 134, 151, 0.7);
    border-radius: 5px;
    border: none;
  }
  .submit-btn {
    padding: 20px;
    margin: 30px;
    border: none;
    border-radius: 5px;
    width: 100%;
  }

  select {
    background-color: rgba(121, 134, 151, 0.7);
    color: #fff;
    width: 100%;
    padding: 15px;
  }

  .submit-btn {
    background: #ff5119;
    font-size: 14px;
    color: #fff;
    width: 150px;
    padding: 14px;
    display: inline-block;
    border-radius: 5px;
    font-weight: 500;
    text-transform: capitalize;
    letter-spacing: 0.5px;
    border: none;
    transition: all 0.3s;
  }
  .reason {
    margin-top: 20px;
    color: white;
    padding: 20px;
    margin: 30px;
    border: none;
    border-radius: 5px;
    width: 100%;
  }

  .reason_label {
    display: flex;
    flex-direction: column;
  }

  .financial-plan img {
    display: none;
    margin: 0;
    padding: 0;
  }

  .TESTIMONIALS {
    text-align: center;
    margin: 0 auto;
    width: 80%;
    height: 50vh;
    margin-bottom: 100px;
  }

  .TESTIMONIALS h2 {
    padding-top: 0px;
  }

  .TESTIMONIALS h1 {
    font-size: 3rem;
  }

  .quatationmark {
    display: flex;
    margin: 0 auto;
    width: 100%;
    text-align: left;
    gap: 30px;
    justify-content: center;
    align-items: left;
  }

  .qmark {
    width: 15%;
    height: 50%;
    background-color: #42ba7f;
    font-size: 2rem;
    color: #fff;
    text-align: center;
    border-radius: 5px;
  }

  .test-section {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    height: 30vh;
    padding: 20px;
    width: 100%;
    border-radius: 25px;
    box-sizing: border-box !important;
    box-shadow: 2px 2px 8px rgba(188, 188, 188, 0.9);
    gap: 50px;
  }

  .test-lines {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 30px;
  }

  .qoation_and_picture {
    display: flex;
    gap: 30px;
    justify-content: space-between;
    align-items: center;
  }

  .text-title_box {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .text-box p {
    font-size: 14px;
    padding-right: 0px;
    margin-right: 0;
  }

  .picture {
    max-width: 100px;
    max-height: 100px;
    border-radius: 5px;
    color: white;
    text-align: center;
  }

  .last-sec {
   
    width: 99%;
    height: 250px;
    background-color: #212741;

    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }

  .image-boxes {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 250px;
    width: 100%;
    gap: 20px;
  }

  .boxes-group1 {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
  }
  .boxes-group2 {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
  }

  footer {
    width: 100%;
    height: 100px;
    font-size: 1rem;
    background-color: #101630;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    width: 99%;
  }

  /* about page responsive */
  .sectio-one {
    width: 99%;
    margin: 0 auto;
    height: 100vh;
    margin-bottom: 200px;
  }

  .sec2 {
    display: flex;
    flex-direction: column;
  }
  .picture-sec2 {
    background: url("https://templatemo.com/templates/templatemo_574_mexant/assets/images/about-left-image.jpg");
    width: 80%;
    margin: 0 auto;
    height: 32.625rem;
    border-radius: 10px;
  }
  .cont-n {
    width: 80%;
    margin: 0 auto;
    height: 32.625rem;
    border-radius: 10px;
    border-radius: 5px;
    padding: 50px 40px;
    background-color: #fff;

    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  }
  .cont-paragraphs {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  .cont-paragraphs p,
  .span1 {
    display: none;
  }
  .cont-n h2 {
    position: sticky;
    color: #000000;
  }

  .sec2 {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    margin: 5rem 0;
  }

  .btn-about {
    display: flex;
    gap: 15px;
  }

  .btn-about .g-btn {
    height: 50px;
  }
  .btn-about .o-btn {
    height: 50px;
  }

  .two-grid-section {
    width: 80%;
    height: 520px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 950px;
  }

  .two-grid-section {
    width: 80%;
    height: 520px;
    display: flex;
    flex-direction: column;
  }

  .grid-section1 {
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: self-start;
    padding: 20px;
    width: 100%;
  }

  .grid-section2 {
    width: 100%;
  }
  .grid-section1 h4 {
    padding-right: 120px;
  }
  .grid-section1 p {
    padding-right: 10px;
    font-size: 14px;
  }

  .grid-boxes {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .grid-box {
    margin-top: 50px;
    width: 100%;
    position: relative;
    background-color: #fff;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    padding: 0px 20px;
    border-radius: 5px;
    height: 150px;
  }

  .grid-box em {
    color: #42ba7f;
    font-size: 2.47rem;
    font-weight: 600;
    font-style: normal;
    position: relative;
    right: 0px;
    top: 0px;
    float: right;
    margin-top: 0px;
    padding-top: 0px;
    top: 0px;
  }

  .grid-box h4 {
    padding-top: 30px;
    margin-bottom: 20px;
  }
  /* SERVICES PAGE */
  .main_service {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }
  .pic_1 {
    width: 80%;
    margin: 0 auto;
  }

  .pic_1 img {
    width: 100%;
    margin: 0 auto;
    height: 19.666875rem;
    border-radius: 0.625rem;
  }
  .t_p-1 {
    width: 80%;
    margin: 0 auto;
    height: 19.666875rem;
  }
  .cont_1 .fa-archive {
    width: 80%;
    margin: 0 auto;
    font-size: 64px;
    color: #43ba7f;
    background-color: #ecf8f2;
    width: 120px;
    height: 120px;
    text-align: center;
    display: inline-block;
    line-height: 120px;
    border-radius: 5px;
    margin-top: 8rem;
  }
  .cont_1 {
    display: flex;
    flex-direction: column;
    /* gap: 0.5rem; */
    align-items: center;
    justify-content: center;
  }
  .t_p-1 h4 {
    /* margin-bottom: 2rem; */
    font-size: 2.25rem;
    font-weight: 700;
    color: #212741;
    margin-top: 2rem;
    margin-bottom: 1.875rem;
  }

  .t_p-1 p {
    font-size: 0.9375rem;
    line-height: 1.625rem;
    color: #212741;
  }
  .main_service2 {
    margin-top: -5rem;
    margin: 0 auto;
  }
  /* Investment section */
  .section_investment {
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-block: 6rem;
    align-items: center;
    justify-content: center;
  }
  .title_investment {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }
  .title_investment h6 {
    font-size: 1rem;
    text-transform: uppercase;
    color: #ff511a;
    font-weight: 700;
  }

  .title_investment h4 {
    margin-top: 0.625rem;
    line-height: 40px;
    font-size: 2rem;
    font-weight: 700;
    text-transform: capitalize;
    color: #212741;
    text-align: center;
  }
  .title_2 {
    padding-left: 5%;
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
  }
  .invest-card {
    padding: 15px 30px;
    display: inline-block;
    text-align: center;
    border-radius: 5px !important;
    margin-right: 30px;
    font-size: 18px;
    color: #212741;
    background-color: #fff;
    cursor: pointer;
    vertical-align: middle;
    font-weight: 600;
    transition: 1s all cubic-bezier(0.075, 0.82, 0.165, 1);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  }
  .invest-card span:hover {
    color: #ed563b;
  }
  .investment_content {
    position: relative;
    width: 90%;
    height: 80vh;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: self-start;
    gap: 3rem;

    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);

    margin-bottom: 10px;
  }

  .conten-image {
    /* position: absolute; */
    top: 0;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    border-radius: 8px;
  }
  .conten-image img {
    border-radius: 8px;
    width: 100%;
    position: absolute;
    top: 0;
  }
  .heard-conten {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
    height: 23.75rem;
  }
  .heard-conten h4 {
    font-size: 1.5rem;
    color: #212741;
    margin-bottom: 1.5625rem;
    font-weight: 700;
    line-height: 2.5rem;
    margin-right: 7.5rem;
  }
  .heard-conte p {
    font-size: 0.9375rem;
    line-height: 1.626rem;
    color: #212741;
  }
  .heard-conten span {
    display: block;
    font-size: 0.9375rem;
    font-weight: 500;
    color: #212741;
    font-style: italic;
    margin-bottom: 0.75rem;
    margin-top: 0.75rem;
  }


  
  /* Contact us style */

  .map {
    width: 80%;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 800px;
  }

  .contact-info {
    margin-top: 200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 50px;
    left: 5%;
    justify-content: center;
    margin-top: 80px;
    margin-bottom: 300px;
  }
  .contact-card {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    height: 200px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
  }

  .contact-card img {
    width: 40px;
    height: 40px;
    margin-bottom: 10px;
  }

  .contact-card h3 {
    margin: 10px 0;
    font-size: 18px;
  }

  .contact-card p {
    margin: 0;
    color: #42ba7f;
    font-size: 16px;
  }

  .contact-form {
    margin-top: 500px;
    height: 70vh;
   
    
  }

  .feel-free {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
  }
  /* contact us */
  .contact-form p {
    color: #e64a19;
    font-size: medium;
    font-weight: 600;
  }
  .contact-form h4 {
    font-size: 30px;
  }
  .form-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 60%;
    /* max-width: 800px; */
  }

  .group-form {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  .form-group1 input {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    gap: 20px;
  }

  .form-group2 input {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    gap: 20px;
  }

  .form-group3 input {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    gap: 20px;
  }

  .form-group {
    display: block;
    width: 100%;
  }

  .form-group input {
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 5px;
    background-color: rgb(247, 247, 247);
  }
  textarea {
    width: 100%;
    height: 130px;
    border: none;
    border-radius: 5px;
    background-color: #f9f9f9;
  }

  button {
    margin-top: 50px;
    padding: 10px 20px;
    border: none;
    width: 200px;
    height: 50px;
    border-radius: 5px;
    background-color: #ff5722;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  button:hover {
    background-color: #e64a19;
  }

  


}
